* {
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(243, 243, 243);
}

.container {
  margin: 80px auto 0 auto;
  max-width: 900px;
}
.nav-container {
  margin: auto;
}
.nav-container svg {
  color: #fff;
}
a {
  text-decoration: none;
}
.test {
  color: #e9f6fc;
  color: #9fe2ff;
  color: #a9dbf1;
  color: #85c1db;

  light: #ff6333;
  main: #ff3d00;
  dark: #b22a00;
}
